<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APP_REVIEW_LOGIN_ENABLED</key>
	<true/>
	<key>APP_REVIEW_VERIFICATION_CODE</key>
	<string>202602</string>
	<key>APP_REVIEW_WHITELIST_EMAILS</key>
	<string>appreview@chillnoteai.com</string>
	<key>CFBundleDisplayName</key>
	<string>ChillNote</string>
	<key>GIDClientID</key>
	<string>720828371402-so65k6aben067uc44hdigoveqg9tam8q.apps.googleusercontent.com</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>chillnote</string>
			</array>
			<key>CFBundleURLName</key>
			<string>com.chillnote.app</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.720828371402-so65k6aben067uc44hdigoveqg9tam8q</string>
			</array>
		</dict>
	</array>
	<key>NSMicrophoneUsageDescription</key>
	<string>ChillNote uses the microphone to record your voice notes.</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
</dict>
</plist>
