<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>ChillNote</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>chillnote</string>
			</array>
			<key>CFBundleURLName</key>
			<string>com.chillnote.app</string>
		</dict>
	</array>
	<key>NSMicrophoneUsageDescription</key>
	<string>ChillNote uses the microphone to record your voice notes.</string>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
</dict>
</plist>
